@import "content/header";
@import "content/footer";
@import "content/navbar";
@import "content/loader";
@import "content/model";
@import "content/Register";
@import "content/item";

@import "Page/home";
@import "Page/login";
@import "Page/accountProcenal";
@import "Page/card";
@import "Page/about";
@import "Page/products";
@import "Page/ProductsInfo";
@import "Page/gifts";
@import "Page/clinical";
@import "Page/blog";
@import "Page/contactUs";



body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-family: 'Castoro', serif;

}
/* Start Breadcrumb Nav */
.breadcrumb-nav {
  margin-top: 2px;
  background-color: #F9B645;
  border-bottom: 1px solid rgba(#000,0.1);
  .breadcrumb {
    margin-bottom: 0;
    background-color: transparent;
    .breadcrumb-item {
      a {
        color: #3098d4;
        font-weight: bold;
      }
      &.active {
        color: #fff;
        &::before {
          color: #fff;
        }
      }
    }
  }

}
/* End Breadcrumb Nav */

/* Start Button Read More */
a.read-more {
  text-decoration: none;
  background-color: #F9B645;
  color: #ffffff;
  padding: 10px 30px;
  padding-right: 70px;
  border-radius: 5px;
  margin-left: 40px;
  font-style: italic;
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: all 0.4s ease-in-out;
  box-shadow: 0px 5px 0 0px #b78735, 0 5px 5px rgba(0, 0, 0, 0.5);
  &::after {
    content: "";
    position: absolute;
    top: -30%;
    right: -25%;
    background-color: #3098d4;
    border-radius: 50%;
    width: 60%;
    height: 180%;
    transform: rotate(76deg);
    transform: rotate(17deg);
    border: 5px solid #fff;
    border-bottom: none;
  }
  &::before {
    content: '\f141';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    right: 15px;
    position: absolute;
    z-index: 2;
    font-style: 30px;
    top: 50%;
    transform: translateY(-50%);
  }
  &:hover {
    box-shadow: 0px 2px 0 0px #b78735, 0 0px 5px rgba(0, 0, 0, 0.1);
  }
}
/* End Button Read More */

/* Start Rating */
#full-stars-example-two {

  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  .rating-group {
    display: inline-flex;
  }
  
  /* make hover effect work properly in IE */
  .rating__icon {
    pointer-events: none;
  }
  
  /* hide radio inputs */
  .rating__input {
   position: absolute !important;
   left: -9999px !important;
  }
  
  /* hide 'none' input from screenreaders */
  .rating__input--none {
    display: none
  }

  /* set icon padding and size */
  .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 1rem;
  }
  
  /* set default star color */
  .rating__icon--star {
    color: orange;
  }

  /* if any input is checked, make its following siblings grey */
  .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
  }
  
  /* make all stars orange on rating group hover */
  .rating-group:hover .rating__label .rating__icon--star {
    color: orange;
  }

  /* make hovered input's following siblings grey on hover */
  .rating__input:hover ~ .rating__label .rating__icon--star {
    color: #ddd;
  }
}
/* End Rating */