- var pageTitl = "Login";
//DOCTYPE html
html(lang="en")
  head
    include include/head.pug
  body
    // Start Loader
    include include/loading.pug
    // End Loader
    // start Header
    include include/header.pug
    //end Header
    
    // Start gifts
    section.Login-page
      .containerz
        .forms-container
          .signin-signup
            form.sign-in-form(action='#')
              h2.title Sign in
              .input-field
                i.fas.fa-user
                input(type='text', placeholder='Username')
              .input-field
                i.fas.fa-lock
                input(type='password', placeholder='Password')
              .form-groub
                a.read-more(href="#") Login
              //-input.btn.solid(type='submit', value='Login')
              p.social-text Or Sign in with social platforms
              .social-media
                a.social-icon(href='#')
                  i.fab.fa-facebook-f
                a.social-icon(href='#')
                  i.fab.fa-twitter
                a.social-icon(href='#')
                  i.fab.fa-google
                a.social-icon(href='#')
                  i.fab.fa-linkedin-in
            form.sign-up-form(action='#')
              h2.title Sign up
              .input-field
                i.fas.fa-user
                input(type='text', placeholder='Username')
              .input-field
                i.fas.fa-envelope
                input(type='email', placeholder='Email')
              .input-field
                i.fas.fa-lock
                input(type='password', placeholder='Password')
              .form-groub
                a.read-more(href="#") Sign up 
              //-input.btn(type='submit', value='Sign up')
              p.social-text Or Sign up with social platforms
              .social-media
                a.social-icon(href='#')
                  i.fab.fa-facebook-f
                a.social-icon(href='#')
                  i.fab.fa-twitter
                a.social-icon(href='#')
                  i.fab.fa-google
                a.social-icon(href='#')
                  i.fab.fa-linkedin-in
        .panels-container
          .panel.left-panel
            .content
              h3 New here ?
              p
                | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
                | ex ratione. Aliquid!
              a#sign-up-btn.read-more(href="#") Sign up  
              //-button#sign-up-btn.btn.transparent
                | Sign up
            img.image(src='img/log.svg', alt='')
          .panel.right-panel
            .content
              h3 One of us ?
              p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                | laboriosam ad deleniti.
              a#sign-in-btn.read-more(href="#") Sign in  
              //-button#sign-in-btn.btn.transparent
                | Sign in
              
            img.image(src='img/register.svg', alt='')

            
    // End gifts

    //Start Footer
    //-include include/Footer.pug
    include include/model.pug
    include include/script.pug
    script(src="https://kit.fontawesome.com/64d58efce2.js")
    
