//Start Footer
footer.footer
  .container
    .row
      .col-lg-4
        .info
          img(src="../../images/GloryLogo2.png", alt="" width="150")
          .addries
            span.pe-7s-map-marker
            | 789 Wadi Shajara, As-Salt, Jordan 19110
          .phone  
            span.pe-7s-call
            | 00962777418060
          .email
            span.pe-7s-mail
            |  info@deadseaglory.net  
        
      .col-lg-4
        .links
          
          .row
            .col-lg-6
              h5 Links
              ul.list-unstyled.link-nav
                li
                  a(href="") About Us
                li
                  a(href="") products
                li
                  a(href="") clinical
                li
                  a(href="") gifts
                li
                  a(href="") Blog
                li
                  a(href="") Contact
            .col-lg-6
              h5 Social-media
              ul.list-unstyled.social-media
                li
                  a(href="")
                    i.fab.fa-facebook-f.fa-fw
                li    
                  a(href="")
                    i.fab.fa-instagram.fa-fw
                li    
                  a(href="")
                    i.fab.fa-twitter.fa-fw
                li    
                  a(href="")
                    i.fab.fa-youtube.fa-fw
                li    
                  a(href="")
                    i.fab.fa-pinterest.fa-fw 

      .col-lg-4
        .contact-send
          h5 Join Our Newsletter Now
          .input-group
            input.form-control(type='text', placeholder="Your email address ")
            .input-group-append
              button#basic-addon2.input-group-text.pe-7s-mail-open-file
            p Get E-mail updates about our latest shop and special offers.
          .sport
            span.pe-7s-headphones
            | 00962779573598
          .time
            span.pe-7s-wristwatch
            | 08:00 Am - 07:30 Pm
        
        
//End Footer
//Start Copy Right
footer.Copy-Right
  .container
    .row
      .col-lg-6
        p Copyright 

          | &copy; 2020 |
          i.fa.fa-value(aria-hidden='true') &nbsp;
          a(href='#') Codex-Home 
          | All Rights Reserved
      .col-lg-6.text-right
        img(src="images/payment.png", alt="")    
//End Copy Right