// JQuery 3.5.1
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.map")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
script(src="js/jquery.mycart.js")
// Bootstrap 4.5
script(src="js/bootstrap.min.js")
// owl carousel
script(src="js/owl.carousel.min.js")
// owl carousel
script(src="js/slick.min.js")
// Wow Scroll
script(src="js/wow.min.js")
// My Script JS & JQuery
script(src="js/main.js")




